.logo_img {
  width: 80px;
}

.banner-img {
  width: 200px;
}
.content-1-img {
  width: 350px;
}

.portfolio-content-1 {
}

.portfolio-content-2 {
}

.content-1-info-container {
  padding-left: 5px;
}

.custom-bg {
  background-color: #0dcaf0;
}

.custom-color {
  color: #0dcaf0;
}

.contact-info {
  /* border: 1px solid white; */
  /* border-radius: 1px 1px 2px 2px; */
  box-shadow: rgba(255, 255, 255, 0.5) 0px 5px 15px;
}
